:root {
  --color-bgd2: #eae3df;
  --color-bgd1: #dfdfea;
}
html,
body {
  padding: 0;
  margin: 0;

  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
  margin: 0;
  background-color: var(--color-bgd1);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  color: #fff;
  padding: 10px;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  min-width: 270x;
  background-color: var(--color-bgd1);
}
.logo {
  font-weight: 700;
  color: #000;
  font-size: 1.6rem;
  margin-right: 5px;
  display: flex;
  flex-wrap: nowrap;
  user-select: none;
}
.profile {
  font-weight: 500;
  color: #000;
  font-size: 1.1rem;
  align-items: center;
  display: flex;
  cursor: pointer;
}
.header-avatar {
  width: 65px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #1565c0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.btn-signin {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #000;
  outline: none;
  border: 0;
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  align-self: center;
  line-height: 1;
  margin: 5px;
  padding: 0.8rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  user-select: none;
  color: #fff;
  background-image: linear-gradient(45deg, #fbbc05 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border-radius: 3px;
}

.btn-signin:hover {
  background-position: 0;
  color: #000;
}
.app-title {
  text-align: center;
  margin-top: 50px;
}

.userName {
  background-color: rgba(255, 255, 255, 0);
  font-weight: 400;
}

.footer {
  height: 5vh;
}
.footerCompParag {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .btn-signin {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.8rem;
    width: 1.5rem;
  }
  .header-avatar {
    width: 60px;
    height: 55px;
  }
}
@media (max-width: 428px) {
  .header-avatar {
    width: 55px;
    height: 50px;
  }

  .header {
    padding: 5px;
  }
}

@media (max-width: 385px) {
  .btn-signin {
    font-size: 0.8rem;
    font-weight: 300;
    padding: 0.5rem;
    width: 1.2rem;
  }
  .header-avatar {
    width: 45px;
    height: 40px;
  }
}
